/* Soluzione qui */
body {
    font-family: "Montserrat", sans-serif;
}
header{
    font-family: "Nerko One", cursive;
}


@media screen and (min-width: 576PX){
    .clearfix>img {
        float: left;
        margin: 10px;
    }
    .btn{
        padding: 10px 30px;
    }
}

@media screen and (min-width: 768px) {
    #topbar {
        justify-content: left;
    }

    .container {
        padding: 20px;
    }

    .recipe-name:after{
        content: "(Dolce Tradizionale)";
    }

    .recipe-title{
        font-size:20px ;
    }
    .btn{
        padding: 10px 50px;
    }
    .ads {
        display: block;
    }
    .clearfix>img {
        float: left;
        margin: 10px;
    }
    .quick-notes>ul{
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 992px) {
    .recipe-title{
        font-size:25px ;
    }
    .recipe-card{
        display: flex;

        .recipe-video, .recipe-info{
            flex-grow: 1;
        }
    }
    .social-networks{
        .btn{
            display: flex;
            gap: 10px;
            padding: 10px 30px;
            align-items: center;
            
            .label{
                display: inline-block;
            }
        }
    }
        .quick-notes>ul {
        display: flex;
        flex-direction: column;
        gap: 0px;

    }
    footer{
        display: flex;
        justify-content: space-between;
        
        
    }
}

