/* Soluzione qui */

@media screen and (min-width: 768px) {
    #topbar {
        justify-content: left;
    }

    .container {
        padding: 20px;
    }

    .recipe-name:after{
        content: "(Dolce Tradizionale)";
    }

    .recipe-title{
        font-size:20px ;
    }
    .btn{
        padding: 10px 50px;
    }
    .ads {
        display: block;
    }
    .clearfix>img {
        float: left;
        margin: 10px;
    }
}

@media screen and (min-width: 992px) {
    .recipe-title{
        font-size:25px ;
    }

}
