/* Soluzione qui */

@media screen and (min-width: 768px) {
    #topbar {
        justify-content: left;
    }

    .container {
        padding: 20px;
    }

    .recipe-name:after{
        content: "(Dolce Tradizionale)";
    }
}